[Unit]
Description=Brong Bot
After=networking.target

[Service]
Type=Simple
ExecStart=/usr/bin/brong_botd
EnvironmentFile=/etc/sysconfig/brong_botd/aws_environment

[Install]
WantedBy=multi-user.target

